RewriteEngine On
RewriteBase /

# Don't rewrite files or directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to React
RewriteRule ^ index.html [L]